.indice {
    display:flex;
    padding : 0px 200px 10px 150px;
}

.container {
    margin-top: 100px;
    padding: 10px;
    border-right:  1px solid #000000;
}

.texto{
    padding: 15px;
    margin-top: 50px;
    border-right:  1px solid #000000;
}


h2{
    border-bottom: 1px solid rgb(172, 172, 172);
    font-style: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif 4', serif;;
    font-weight: normal;
}

.container2 {
    border: #5e5e5e 1px solid;
    padding: 5px;
    line-height: 40px;
    background-color: rgb(206, 206, 206);
}

